{% extends 'base.html' %}
{% block title%} Greate page {% endblock%}
{% block body %}
<style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }

    h1 {
      color: #333;
    }

    form {
      max-width:900px;
      height: 400px;
      margin: 0 auto;
      background: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    }

    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
    }

    input[type="text"],
    textarea {
      width: 98%;
      padding: 10px;
      margin-bottom: 5px;
      border: 1px solid #514e4e;
      border-radius: 3px;
      font-size: 16px;
    }
    textarea{
        height: 200px;
    }
    button {
      background-color: #3d8b40;
      color: rgb(0, 0, 0);
      padding: 12px 20px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      font-size: 18px;
    }

    button:hover {
      background-color: #0e4110;
      color: #ccc;
    }
  </style>
</head>
<body>
  <center><h1>Создать заметку</h1></center>
  <form method="post">
    <input type="text" id="title" name="title" required placeholder="Заголовок:"/><br /><br />
    <textarea id="content" name="content" required placeholder="Содержание:"></textarea><br /><br />
    <center><button type="submit">Сохранить</button></center>
  </form>
</body>
</html>
{% endblock %}